* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #12cccc, #2a5298);
    margin: 0;
    padding: 0;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}


label {
    font-weight: bold;
}

.boton-envio {
    background: linear-gradient(to right, #662e74, #bf6cc2);
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
}

.button:hover {
    background: rgba(47, 151, 192, 0.8);
}

#titulo {
    text-align: center;
    border: 2px dotted red;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 40px;
}